*{
  padding: 0px;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 18px;
}

html {
  scroll-behavior: smooth; 
}

body {
background: #F8F3EC; 
  color: #612764;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav p {
  font-size: 22px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  width: 22%;
  margin: 10px 11px;
}

nav ul li a{
   color:#612764;
  text-decoration: none;
  font-size: 20px; 
  position: relative;
}


nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #976B97;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after{
  width: 100%;
  transition: .3s;
}

.about-greeting {
  margin-left: 0px;;
  margin-right: 30%;
  font-size: 65px;
  font-weight: bold;
  margin-top: 10%;
}

.about-text p {
  font-size: 18px;
  line-height: 1.7;
  margin-left: 0px;
  margin-right: 35%;
  margin-bottom: 20px;
  color: #2C2C2C;
}

/* Floating Circle Animation */

.floating-circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 78vh;
  z-index: -1; 
  margin-left: 28%;
  pointer-events: none; 
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.80;
  animation: float 4s ease-in-out infinite alternate;
}

/* Medium Circle */
.circle.medium {
  width: 230px;
  height: 230px;
  background: #976B97; 
  top: 40%;
  left: 30%;
  animation-delay: 0s;
}

/* Small Circle */
.circle.small {
  width: 180px;
  height: 180px;
  background: #8cac83; 
  top: 45%;
  left: 40%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(60px, -40px);
  }
  100% {
    transform: translate(-50px, 30px);
  }
}

/* button */
.btn {
  display: block;
  margin-top: 29px;
  margin-left: 64px;
  width: fit-content;
  background: #b089b0;
  padding: 14px 50px;
  text-decoration: none;
  color: #F8F3EC;
  transition: background 0.6s;
}

.btn:hover {
  background: #c29cc2;
  transition: .3s;
} 

/* About Section */

 .about-box {
  border-radius: 2px;
  border: 2px solid #8cac83;
  background: #e1cee1;
  padding: 70px;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 15%;
}

.about-title {
  font-size: 34px;
  font-weight: normal;
  color: #612764;
  margin-bottom: 40px;
  text-align: center;
}

.about-text-about p {
  font-size: 17px;
  line-height: 1.6;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #2C2C2C;
  text-align: center;
  
}

.about-floating-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 78vh;
  margin-left: 8%;
  margin-top: 10%;

  pointer-events: none; 
  overflow: hidden;
}

.about-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.3;
}

/* Medium Circle */
.about-circle.medium {
  width: 340px;
  height: 320px;
  background: #BD68BD; 
  top: 40%;
  left: 30%;
  animation-delay: 0s;
}

/* Small Circle */
.about-circle.small {
  width: 190px;
  height: 190px;
  background: #F5C24A; 
  margin-right: 30%;
  top: 50%;
  left: 34%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -15px);
  }
  100% {
    transform: translate(-15px, 20px);
  }
}