*{
  padding: 0px;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 14px;
}

html {
  scroll-behavior: smooth; 
}

body {
background: #fefaf4; 
  color: #612764;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

nav p {
  margin-top: 2px;
  font-size: 22px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  width: 22%;
  margin: 10px 11px;
}

nav ul li a{
  color:#612764;
  text-decoration: none;
  font-size: 20px; 
  position: relative;
}


nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #976B97;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after{
  width: 100%;
  transition: .3s;
}

.about-greeting {
  margin-left: 0px;;
  margin-right: 30%;
  font-size: 65px;
  font-weight: lighter;
  margin-top: 10%;
  margin-bottom: 0%;
}

.about-text p {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 35%;
  margin-bottom: 40px;
  color: #2C2C2C;
}

/* Floating Circle Animation */

.floating-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 78vh;
  z-index: -1; 
  margin-left: 28%;
  pointer-events: none; 
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.80;
  animation: float 4s ease-in-out infinite alternate;
}

/* Medium Circle */
.circle.medium {
  width: 230px;
  height: 230px;
  background: #976B97; 
  top: 40%;
  left: 30%;
  animation-delay: 0s;
}

/* Small Circle */
.circle.small {
  width: 180px;
  height: 180px;
  background: #8cac83; 
  top: 45%;
  left: 40%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(60px, -40px);
  }
  100% {
    transform: translate(-50px, 30px);
  }
}

/* button */
.btn {
  display: block;
  margin-top: 33px;
  margin-left: 64px;
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #b089b0;
  padding: 14px 50px;
  text-decoration: none;
  color: #F8F3EC;
  transition: background 0.6s;
  margin-bottom: 10%;
  border: 2px solid #b089b0;
}

.btn:hover {
  background: #c29cc2;
  transition: .2s;
} 

/* About Section */

 .about-box {
  border-radius: 2px;
  border: 2px solid #8cac83;
  background: #e1cee1;
  padding: 70px;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 15%;
}

.about-title {
  font-size: 34px;
  font-weight: normal;
  color: #612764;
  margin-bottom: 40px;
  text-align: center;
}

.about-text-about p {
  font-size: 17px;
  line-height: 1.6;
  margin-right: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #2C2C2C;
  text-align: center;
  
}

.about-floating-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 78vh;
  margin-left: 8%;
  margin-top: 10%;
  pointer-events: none; 
  overflow: hidden;
}

.about-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.3;
  animation: float 1.7s ease-in-out infinite alternate;
}

/* Medium Circle */
.about-circle.medium {
  width: 340px;
  height: 340px;
  background: #BD68BD; 
  top: 28%;
  left: 30%;
  animation-delay: 0s;
}

/* Small Circle */
.about-circle.small {
  width: 170px;
  height: 170px;
  background: #F5C24A; 
  margin-right: 30%;
  top: 40%;
  left: 34%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -15px);
  }
  100% {
    transform: translate(-15px, 20px);
  }
}

/* phases slides */

.phases,
.phases * { margin: 0; }

.phases {
  max-width: 1100px;   
  margin: 3rem auto;      
}

.swiper {
  width: 100%;
  height: 420px;     
  margin-top: 20%;
  overflow: hidden;
  padding: 0 56px;           
  box-sizing: border-box;
  position: relative;
}

.swiper-wrapper { display: flex; }

.swiper-slide {
  flex: 0 0 100% !important;
  width: 100% !important;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 2rem;  
}

.swiper-pagination {
  bottom: -24px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px; height: 44px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.swiper-button-prev { left: 8px; }
.swiper-button-next { right: 8px; }

.box1 { background-color: rgba(203, 174, 193, 0.5); border: 1px solid #914995;}
.box2 { background-color: rgba(172, 200, 165, 0.5); border: 1px solid #4F7943; }
.box3 { background-color: rgba(173, 162, 191, 0.5); border: 1px solid #672f6a; }
.box4 { background-color: rgba(165, 186, 200, 0.5); border: 1px solid #274464; }

.phase-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.7;
  animation: float 3s ease-in-out infinite alternate;
  z-index: 0;
}
.box1 .medium { width: 280px; height: 280px; background:#9b6d90; top:20%; left:65%; }
.box1 .small  { width: 160px; height: 160px; background:#cd8cc2; top:50%; left:60%; }
.box2 .medium { width: 280px; height: 280px; background:#889B6D; top:20%; left:65%; }
.box2 .small  { width: 160px; height: 160px; background:#ADB260; top:50%; left:60%; }
.box3 .medium { width: 280px; height: 280px; background:#796d9b; top:20%; left:65%; }
.box3 .small  { width: 160px; height: 160px; background:#8360b2; top:50%; left:60%; }
.box4 .medium { width: 280px; height: 280px; background:#6d7f9b; top:20%; left:65%; }
.box4 .small  { width: 160px; height: 160px; background:#6099b2; top:50%; left:60%; }

@keyframes float {
  0% { transform: translate(0, 0); }
  50% { transform: translate(20px, -15px); }
  100% { transform: translate(-15px, 20px); }
}

.swiper-slide h2 { font-weight: lighter; margin-top: 5% ; font-weight: normal; font-size: 40px; margin-left: 4%; z-index: 1; }
.swiper-slide p  { margin-top: 2%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5; margin-left: 4%; max-width: 80%; z-index: 1; font-size: 18px; margin-right:40%; line-height: 1.6;}

.box1 h2, .box1 p {
  color: #4B004B; 
}

.box2 h2, .box2 p {
  color: #1F4D1F;  
}

.box3 h2, .box3 p {
  color: #3C2E6E; 
}


.box4 h2, .box4 p {
  color: #0D2E4F;
}




